.main{
    border: 2px solid grey;
    width: 200px;
    height: 145px;
   
    background-color: burlywood;
    position: absolute;
    left: 550px;
    top: 100px;
}
.in{
    width: 96%;
    background-color: mediumaquamarine ;
   min-height: 30px;
   color: white;
}
.cle{
    color: green;
    background-color: khaki;
    width: 72%;
}
.de{
    color: green;
    background-color: khaki;
    width: 51px;
}
.btn{
    color: green;
    background-color: khaki;
    width: 45px;
}
.btn1{
    color: green;
    background-color: khaki;
    width: 52px;
}
.btn2{
    color: green;
    background-color: khaki;
    width: 101px;
}
body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSAB8fS6-PpXlxzvvgMlUA8B4rDDdrOdHny3A&usqp=CAU);
}
h1{
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 4px 3px 4px black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: indianred;
    position : absolute ;
    left: 550px;

}